{
  "ecmaFeatures": {
    "blockBindings": true
  },
  "env": {
    "node": true
  },
  "globals": {
  },
  "rules": {
    "quotes": [0],
    "no-multi-spaces": [0],
    "camelcase": [0],
    "key-spacing": [0],
    "no-unused-vars": [1],
    "no-undef": [2]
  }
}
